<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQuotableQuotationsWcfService"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IQuotableQuotationsReliableWcfService"
                    transactionFlow="true" />
                <binding name="WSHttpBinding_IQuotableQuotationsReadOnlyReliableWcfService"
                    transactionFlow="true" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41280/QuotableQuotationsWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuotableQuotationsWcfService"
                contract="QuotableQuotationsWcfService.IQuotableQuotationsWcfService"
                name="BasicHttpBinding_IQuotableQuotationsWcfService" />
            <endpoint address="http://localhost:41280/QuotableQuotationsReliableWcfService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuotableQuotationsReliableWcfService"
                contract="QuotableQuotationsReliableWcfService.IQuotableQuotationsReliableWcfService"
                name="WSHttpBinding_IQuotableQuotationsReliableWcfService">
                <identity>
                    <userPrincipalName value="TRAINLINE-PC\trainline" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:41280/QuotableQuotationsReadOnlyReliableWcfService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuotableQuotationsReadOnlyReliableWcfService"
                contract="QuotableQuotationsReadOnlyReliableWcfService.IQuotableQuotationsReadOnlyReliableWcfService"
                name="WSHttpBinding_IQuotableQuotationsReadOnlyReliableWcfService">
                <identity>
                    <userPrincipalName value="TRAINLINE-PC\trainline" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>